{% extends 'base.html' %}

{% block 'content' %}
    <h2>Products</h2>
    <div class='row'>
    {% for product in products %}
        <div class="p-3">
        <div class="card" style="width: 18rem;">
            <img src="{{product.image_url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">price: #{{product.price}}</p>
                    <a href="#" class="btn btn-primary">add to cart</a>
                </div>
        </div>
        </div>
    {% endfor %}
    </div>
{% endblock  %}